# Python
.venv/
__pycache__/
*.pyc
*.pyo
.python-version

# UV
.uv/

# Environment
.env
.env.*

# GCP credentials
*.json
!firebase.json

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# macOS
.DS_Store
